<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/testing.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
<title>Create new user</title>
</head>
<body>
	<div id="tabela">
		<h1>Registr user:</h1>
		<form th:action="@{/createUser}" method="post">
			<label for="username">Username</label>: <input type="text"
				id="username" name="username" autofocus="autofocus" /> <br />
			<label for="password">Password</label>: <input type="password"
				id="password" name="password" /> <br />
			<label for="confirm_password">Confirm password</label>: <input type="password"
				id="confirm_password" name="confirm_password" /> <br />
			<input type="submit" value="Create account" />
		</form>
	</div>

	<!-- Only scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
</body>
</html>