<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/testing.css">
<title>Test file to show data from DB</title>
</head>
<body>
	<div id="tabela">
		<h1>Results in table</h1>
		<table>
			<thead>
				<tr>
					<th>Home Team</th>
					<th>Date Of Game</th>
					<th>Away Team</th>
					<th>Home Team Goals</th>
					<th>Away Team Goals</th>
					<th>Attendance</th>
					<th>Competition Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="m : ${game}">
					<td th:text="${m.homeTeam}">Random Text</td>
					<td th:text="${m.dateOfGame}">Random Text2</td>
					<!--
					Try to change date format
					 <td th:text="${#temporals.format(m.dateOfGame,'dd-MM-yyyy')}">Random Text2</td>
					 -->
					<td th:text="${m.awayTeam}"></td>
					<td th:text="${m.homeTeamScore}"></td>
					<td th:text="${m.awayTeamScore}"></td>
					<td th:text="${m.attendance}"></td>
					<td th:text="${m.competition.CompetitionName}"></td>
			</tbody>
		</table>
	</div>
</body>
</html>