<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Match Details from Rest Controller</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">	
<link rel="stylesheet" href="../static/css/showGamesRest.css"
	th:href="@{/css/showGamesRest.css}">
</head>
<body>
	<div>
		<p class="home-team">Home Team: </p>
		<p class="away-team">Home Team: </p>
		<p class="home-team-score">Attendance: </p>
		<!-- <p class="attendance">Result:</p> -->
	</div>
	
	<button class="btn btn-primary" id="previousButton">Go to previous game</button>
	<button class="btn btn-primary" id="nextButton">Go to next game</button>
	
	<div>
	<p>That is a random text, which won't be changed -> view will recive only JSON's</p></div>
			
	<!-- Only scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script th:src="@{/js/jsonMatch.js}" src="../static/js/jsonMatch.js"></script>
</body>
</html>