<!DOCTYPE html>
<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/testing.css">
<title>Insert title here</title>
</head>
<body>
	<div id="header">
		<nav>
			Nawigacja
			<ul>
				<li><a href="#">Strona Główna</a></li>
				<li><a>Element listy nieuporządkowanej 1</a></li>
				<li><a>Element listy nieuporządkowanej 2</a></li>
			</ul>
		</nav>
	</div>
	<div id="main">
		<p>Random text</p>
		<p id="napis">Napis</p>
		<p id="napis" class="klasa">Random text2</p>
		<input type="text" value="default value">
		<article>
			<header>
				<h1>Tytuł</h1>
			</header>
			<p>Tekst artykułu</p>
			<footer> Autor </footer>
		</article>
	</div>
	<div id="footer">
		<form>
			<label>Login <input type="text" value="Nick"></label> <label>Password
				<input type="password">
			</label><br> <label>Potwierdzenie <input type="submit"
				value="Zatwierdz"></label>
		</form>
		<button type="button" onclick="myFunction()">Try it</button>
		<p>Napis:<script type="text/javascript" class="myFunction2()"></script>
	<script src="../static/js/testing.js"></script>
</body>
</html>